PORT=8000
MONGODB_URL=add your mongodb url
JWT_SECRET="DSY29QURD12R23TFNO1FFFTY13"
OPENROUTER_API_KEY=add your openrouter key
RAZORPAY_KEY_ID=add your razorpay key id
RAZORPAY_KEY_SECRET=add your razorpay key secret
